@import "sass-essentials";

$bp-s: 40rem;

.breadcrummy {
  position: relative;
  $scroll_helper_width: 3rem;
  .scroll-helper {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    position: absolute;
    top: 0;
    right: 0;
    width: $scroll_helper_width;
    height: 100%;
    @media(min-width: $bp-s) {
      display: none;
    }
    + .breadcrummy__inner > *:last-child {
      padding-right: $scroll_helper_width;
      @media(min-width: $bp-s) {
        padding-right: 0;
      }
    }
  }
}

.breadcrummy__inner {
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

  a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.4s ease-out;
    overflow: hidden;
    flex-shrink: 0;
    @media(min-width: $bp-s) {
      flex-shrink: 1;
    }
    &:hover,
    &:focus {
      flex-shrink: 0;
    }
  }
  .seperator {
    width: 1rem;
    text-align: center;
    right: 0.3rem;
    flex: 0 0 1rem;
    display: block;
  }
}
