{% block before %}
  {{ attach_library("compony/breadcrummy") }}
{% endblock %}

<nav class="breadcrummy">
  <div class="scroll-helper"></div>

  <div class="breadcrummy__inner">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    {% for key,link in links %}
      {{ link }}
      <span class="seperator">/</span>
    {% endfor %}
  </div>
</nav>
